#viewHeight{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100vh;
	padding-top: 0rem;
	}

#viewHeight2{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100vh;
	padding-bottom: 0rem;
}

@media only screen and (max-width: 768px) {
	#viewHeight2{
		height:inherit;
		padding-bottom: 3rem;
	}
	
	#viewHeight{
		height:inherit;
		padding-top: 5rem;
	}
}